<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.infomaniak</string>
		<string>group.com.infomaniak.calendar</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.infomaniak.auth</string>
		<string>$(AppIdentifierPrefix)com.infomaniak.swisstransfer</string>
		<string>$(AppIdentifierPrefix)com.infomaniak.mail</string>
		<string>$(AppIdentifierPrefix)com.infomaniak.drive</string>
		<string>$(AppIdentifierPrefix)com.infomaniak.euria</string>
		<string>$(AppIdentifierPrefix)com.infomaniak.calendar</string>
	</array>
</dict>
</plist>
